<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}"> <!--link style sheet-->
</head>
<body>
    <div id="wrapper">
            <p class="title">The UTC time and date:</p>
            <h1 class="timestamp"><p>{{dateTime}}</p><p id="clock">{{time}}</p></h1>
    </div>
</body>
</html>