<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1><a href="/wall">CodingDojo Wall</a></h1>
            <div>
                <h3>Welcome {{user.first_name}}</h3>
                <a href="/logout"></a>
            </div>
            <div>
                <h2>Post a message</h2>
                <form action="message/new" method="post">
                    {%csrf_token%}
                    <textarea name="content" id="" cols="30" rows="10"></textarea>
                    <button>Post a message</button>
                </form>
            </div>
        </header>
        <main>

            <div class="message">
                    {% for message in messages %}
                        <p>{{message.users.first_name}} {{message.users.last_name}} {{message.created_at}}</p>
                        <p>{{message.content}}</p>
                    {%endfor%}
                </div>

            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>