<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <h1>Welcome to the Great Number Game </h1>
        <h4>I am thinking of a number between 1 and 100 </h4>
        <p>take a guess</p>
        <p>{{request.session.hint}}</p>
        {%if request.session.winner %}
            <button>Reset</button>
        {%endif%}
        <p>Attempts: {{request.session.attempts}}</p>
        <form action="/process" method="POST">
            {%csrf_token%}
            <input type="number" class="quantity" name="guess" min="1" max="100">
            <button class="quantity">{{request.session.Buttons}}</button>
        </form>

    </div>
</body>
</html>