<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
    {% load static%}
</head>
<body>
    <div>
        <p>"{"</p>
        <p>title: <span class="green">"My first blog",</span> </p>
        <p>content: <span class="green">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</span> </p>
        <p>"}"</p>
    </div>
</body>
</html>